<div class="navbar navbar-static-top navbar-white">
    <div class="container-fluid">
        <a class="navbar-brand" rel="nofollow" ui-sref="home">
            Liana
        </a>
        <ul class="nav navbar-nav pull-right">
            <li><a ui-sref="shops">Shops</a></li>
            <li><a href="/api/" target="_self">API</a></li>
            <li><a href="https://github.com/720dreams/liana" target="_blank">Github</a></li>
        </ul>
    </div>
</div>

<div class="hero">
    <div class="container-fluid">

        <h1 ng-show="!searchResult" class="text-center">Explore {{aricles_count}}
            articles from
            {{shop_count}}
            shops</h1>

        <form class="form-inline" ng-class="{ 'search-form': !searchResult }">
            <div class="form-group">
                <input class="form-control" id="search" placeholder="What are you looking for...">
            </div>
            <button type="submit" class="btn btn-default" ng-click="searchClick()">{{btnText}}
            </button>
        </form>

    </div>
</div>
<div class="body">
    <div class="container-fluid">

        <div class="tag-cloud" ng-hide="searchResult">
            <a ng-repeat="t in tagCloud" href="#" ng-click="searchClickTerm(t.term, $event)">{{t.term}} </a>
        </div>

        <div ng-show="onLoad">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="random-articles" ng-hide="searchResult || onLoad">

            <h4 ng-show="randomArticles" class="meta padding-top">What Other Customers Are Looking At Right Now. <a
                    href="#" ng-click="updateRandom()">More ➡</a>
            </h4>

            <div class="row">
                <a class="col-sm-4 col-md-3 col-xs-12 card" ng-repeat="r in randomArticles"
                   ui-sref="article({ articleId: r.id })">
                    <div ng-if="r.image">
                        <div afkl-lazy-image="{{r.image}}"
                             afkl-lazy-image-options='{"offset": 200}'
                             class="afkl-lazy-wrapper image text-center">
                        </div>
                    </div>
                    <div ng-if="!r.image">
                        <div class="afkl-lazy-wrapper image text-center">
                            <img src="/static/images/no-thumb.00d17b0f.png">
                        </div>
                    </div>
                    <h5>{{r.title}}</h5>

                    <div class="label label-danger" ng-show="r.price">Price: {{r.price}}</div>
                </a>
            </div>
        </div>

        <div ng-show="searchResult && !onLoad">
            <h1>{{searchResult.count}} Results for '{{searchResult.query}}'</h1>

            <a class="row search-results-item" ng-repeat="r in searchResult.results"
               ui-sref="article({ articleId: r.id })">

                <div ng-if="r.image" class="col-sm-3 col-xs-12">
                    <div afkl-lazy-image="{{r.image}}"
                         afkl-lazy-image-options='{"offset": 200}'
                         class="afkl-lazy-wrapper image text-center">
                    </div>
                </div>
                <div ng-if="!r.image" class="col-sm-3 col-xs-12">
                    <div class="afkl-lazy-wrapper image text-center">
                        <img src="/static/images/no-thumb.00d17b0f.png">
                    </div>
                </div>

                <div class="col-sm-9 col-xs-12">

                    <h4>{{r.title}}</h4>

                    <div class="label label-danger" ng-show="r.price">Price: {{r.price}}</div>
                    <div class="label label-info">{{r.shop}}</div>

                    <div class="description padding-top" ng-show="r.description"
                         ng-bind-html="r.description| trust"></div>

                    <div class="tags padding-top" ng-show="r.tags">
                        <span class="label label-default" ng-repeat="t in r.tags track by $index"
                              ng-click="searchClickTerm(t, $event)">{{t}}</span>
                    </div>

                </div>


            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">

        <div class="footer-links text-center">
            <a href="mailto:contact@lianakit.com">Contact us</a> &bull;
            <a role="encoded"
               href="http://720dreams.com/views.html?contactEmail=contact@lianakit.com&name=LianaKit&title=Feedback&urlWeb=http://lianakit.com/&accentColor=534292">Feedback</a> &bull;
            <a role="encoded"
               href="http://720dreams.com/views.html?contactEmail=contact@lianakit.com&name=LianaKit&title=About&urlWeb=http://lianakit.com/&accentColor=534292">About</a> &bull;
            <a role="encoded"
               href="http://720dreams.com/views.html?contactEmail=contact@lianakit.com&name=LianaKit&title=Privacy Policy&urlWeb=http://lianakit.com/&accentColor=534292">Privacy
                Policy</a> &bull;
            <a role="encoded"
               href="http://720dreams.com/views.html?contactEmail=contact@lianakit.com&name=LianaKit&title=Terms of Service&urlWeb=http://lianakit.com/&accentColor=534292">Terms
                of Service</a> &bull;
            <a href="http://720dreams.com" target="_blank">© 2015, 720dreams LLC</a>
        </div>
    </div>
</div>
